services:
  postgres:
    container_name: postgres
    image: postgres
    volumes:
      - ./.db/data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST: postgres
    ports:
      - 5432:5432
